.section{
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 1rem;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    text-align: left;
    columns: 1;
    width: 100%;
}

.col{
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

@media(min-width: 1131px){
    .section{
        columns: 3;
    }
}

@media(min-width: 766px) and (max-width: 1130px){
    .section{
        columns: 2;
    }
}
